/* LOGIN STYLES */
.auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}
 
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid black;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.login-register-wrapper {
  transition: visibility 0.2s ease-out;
}

.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  font-size: 22px;
  border-bottom: 2px solid black;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-label {
  font-size: 20px;
  font-weight: 500;
}

.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid black;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid black;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-btn {
  padding: 2px 30px;
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid black;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: orange;
  color: white;
}


