* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: hidden;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* LOGIN STYLES */
.auth-wrapper {
  max-width: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  .auth-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    transition: visibility 0.5s ease-out;
    .controller {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50px;
      cursor: pointer;
      background: #e9eaea;
    }
  }
}

.selected-controller {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.login-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  cursor: pointer;
  background: #e9eaea;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  min-width: 200px;
  padding: 24px;
}

.login-register-wrapper {
  transition: visibility 0.2s ease-out;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px;
}

.login-input {
  height: 10px;
  border-radius: 3px;
  border: 1px solid #e9eaea;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid grey;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-btn {
  padding: 2px 30px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: dodgerblue;
  margin-top: 20px;
  border-radius: 40px;
  color: white;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: black;
  color: white;
}

.forgot-pwd {
  color: dodgerblue;
  margin-top: 10px;
  text-decoration: none;
}

.third-party {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.terms {
  margin-top: 20px;
}
.terms-link {
  color: dodgerblue;
}

.NavBar, .Nav, .Menu {
  background-color: black;
}

.sidebar {
  img {
    margin: 20px auto !important;
    height: 50px;
    width: 100px;
  }

  .closebutton {
    margin-left: 85% !important;
    margin-top: 5px;
  }

}

.landingpg {
  position: relative;
  top:-5px;
  left: -5px;
  margin: -10px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 95vh;
  background-image: url('./img/hero.png');
  background-size: cover;
  background-repeat: no-repeat;

  img {
    margin-top: 150px;
    height: 210px;
    width: 900px;
    z-index: 1;

    @media screen and (max-width: 800px) {
      width: 300px;
      height: 70px;
    }
  }

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom , black, grey);
	opacity: .6; 
  }
}



.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .icon {
    background-color: black !important;
    color: white !important;
    height: 30px;
  
    .text {
      position: relative !important;
      top: -2px;
    }

  }
  
  
  .icon:hover {
    color: black !important;
    background-color: white !important;
  }
}

.AuthButtons {
  display: flex;
}



.mapview {
  width: 100vw;
  height: 90vh;
}

.legend {
  width: 170px;
  z-index: 40 !important;
  position: relative !important;
  top: 60%;
  left: 85%;

  .listItem {
    display: flex !important;
    align-items: center !important;
  }

  .notSelected {
    color: lightgrey !important;
  }

  .wantVisit {
    color: #CD5D01 !important;
  }

  .transited {
    color: #8FC201 !important;
  }

  .visited {
    color: #9B016D !important;
  }

  .lived {
    color: #017B7B !important;
  }
}

#map {
  z-index: 2;
}

.loading {
  position: absolute;
  top: -15px;
  left: -17px;
  width: 110%;
  height: 100vh;
  background-color: black;
  opacity: .9;
  color: white;
  padding-top: 300px;
}

