* {
  box-sizing: border-box; }

h1 {
  font-family: "Staatliches", cursive; }

p {
  font-family: "Open Sans Condensed", sans-serif; }

/* LOGIN STYLES */
.auth-wrapper {
  max-width: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black; }
  .auth-wrapper .auth-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    align-items: center;
    transition: visibility 0.5s ease-out; }
    .auth-wrapper .auth-controller .controller {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 50px;
      cursor: pointer;
      background: #e9eaea; }

.selected-controller {
  display: flex;
  justify-content: flex-end;
  width: 50%; }

.login-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  cursor: pointer;
  background: #e9eaea; }

.box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  min-width: 200px;
  padding: 24px; }

.login-register-wrapper {
  transition: visibility 0.2s ease-out; }

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px; }

.login-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 15px; }

.login-input {
  height: 10px;
  border-radius: 3px;
  border: 1px solid #e9eaea;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01); }

.login-input:hover {
  border: 2px solid grey; }

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2); }

.login-btn {
  padding: 2px 30px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: dodgerblue;
  margin-top: 20px;
  border-radius: 40px;
  color: white;
  transition: background-color 0.3s ease-out;
  cursor: pointer; }

.login-btn:hover,
.login-btn:focus {
  background-color: black;
  color: white; }

.forgot-pwd {
  color: dodgerblue;
  margin-top: 10px;
  text-decoration: none; }

.third-party {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold; }

.terms {
  margin-top: 20px; }

.terms-link {
  color: dodgerblue; }
